.gridContainer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 1300px;
  background-color: rgba(89, 89, 89, 0.3);
  margin-top: 25px;
  padding: 10px;
  flex-wrap: wrap;
}
.gridBlock{
  margin-top: 10px;
  background-color: black;
}
.gridColum{
  width: 32%;
  background-color: rgba(89, 89, 89, 0.3);
}
