.gridContainer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 1300px;
  background-color: red;
  margin-top: 25px;
  padding: 10px;
  flex-wrap: wrap;
}
.gridBlock{
  width: 32%;
  margin-top: 10px;
  background-color: black;
}