.top{
  background-color: rgba(89, 89, 89, 0.3);
  max-width: 1300px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.top-logo{
  /* background-image: url("../img/logo.png");
  background-size: cover; */
  width: 50px;
}
.top-menu{
  background-color: red;
  padding: 20px;
}
.logo{
  width: 100px;
}